.main-btn,
.secondary-btn {
   background-color: $darkRed;
   color: #f3dddd;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   border: 1px solid $darkRed;
   border-radius: 5px;
   cursor: pointer;
   outline: none;
   transition: all 0.25s ease-in;
}

.main-btn {
   padding: 7px 12px;
   font-size: 15px;
   border-radius: 5px;

   &:hover {
      background-color: #c3d6f8;
      color: $darkRed;
      transform: scale(1.05);
      border: 1px dashed black;
   }
}
.secondary-btn {
   padding: 7px 12px;
   font-size: 15px;
   &:hover {
      background-color: #c3d6f8;
      color: $darkRed;
      border: 1px dashed black;
   }
   &:disabled {
      background-color: #c3d6f8;
      color: $darkRed;
      border: 1px dashed black;
   }
}
@media (min-width: 768px) {
   .main-btn {
      padding: 9px 13px;
      font-size: 18px;
   }
   .secondary-btn {
      padding: 10px 18px;
      font-size: 20px;
   }
}
