@import "./globalVar";
*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.wrapper {
   padding: 80px 3% 0;
}
img {
   border: 1px solid #000;
}
.welcome {
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 15px;
   display: block;
   text-align: center;
   text-transform: uppercase;
}
.notFound {
   text-align: center;
   font-family: "Poppins";
   font-size: 14px;
   h2 {
      margin-bottom: 10px;
   }
   a {
      text-decoration: none;
      font-weight: 700;
      background-color: $bgc-item;
      padding: 8px;
      color: $darkRed;
      &:hover {
         color: black;
      }
   }
}
@media (min-width: 768px) {
   .notFound {
      font-size: 18px;
   }
   .welcome {
      font-size: 40px;
      margin-bottom: 25px;
      padding: 10px 0;
   }
}
